/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

.book-section {
    margin: 150px 0;
    text-align: center;
}

.book-section h1 {
    font-size: 3em;
    margin: 20px 0;
   font-family: Rubik;
   font-weight: bolder;
}

.book-section .span-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    margin: 10px 0;
    font-weight: bold;
    color: #888;
    font-style: italic;
}

.book-section p {
    margin: 20px auto;
    width: 700px;
    line-height: 1.8;
}